* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/background.png);
}

.container {
    display: flex;
    border: 2px solid gray;
    margin: 0 auto;
    margin-top: 20px;
    width: 800px;
    background-image: url(./images/background.png);
}

h1 {
    margin: 0 auto;
    font-size: 40px;
}

.grid-container {
    margin: 20px auto 0 auto;
    border: 1px solid black;
    width: 602px;
    height: 602px;

}

.main-grid {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 60px;
    height: 60px;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.player {
    /* background-color: blue;
    text-align: center;
    font-size: 30px;
    margin: 0 auto; */
    height: 60px;
    width: 60px;

    z-index: 10;

    background: url(./images/Woodcutter_run.png) 0px 0px;
    animation: play 1s steps(8) infinite;
}

@keyframes play {
    100% {
        background-position: -700px;
    }
}

.apples {

    height: 60px;
    width: 60px;
    background: url(./images/9.png);
}

.apples-harvest {
    width: 40px;
    height: 40px;
}